.entry li {
margin-left:30px;
}

header a:hover {
color: white;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

header h1 a {
background: url('/images/logo.png?1362269073') left center no-repeat;
background-size: 96px 74px;
display: inline-block;
width: 96px;
height: 74px;
color: white;
}

.metanav {
text-align: right;
font-size: 1.0em;
background: #fff;
}

.add-entry{
border: 5px solid #ccc;
padding: 0.8em;
margin-left:100px;
margin-right:100px;
}

.flash {
background: #CEE5F5;
padding: 0.5em;
border: 1px
solid #AACBE2;
}

.error {
background: #F0D6D6;
padding: 0.5em;
}

body {
    font - family: "HelveticaNeue-Light",
    "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans - serif;
    font - weight: 300;
    font - size: 14px;
    background: #fff;
    color: #000}

@media screen and (max-width: 1040px) {
body{margin:0 20px}
}

@media screen and (max-width: 600px) {
body{font-size:13px}
}

h1 {
font-size:1.8em
}

h2 {
font-size:1.5em
}

h3 {
font-size:1.3em
}

a {
text-decoration:none;outline-width:0;color:# 258fb8
}

* {
margin: 0;
padding: 0;
}

.right {
float: right;
}

.left {
float: left;
}

.inner {
width: 1000px;
margin: 0 auto;
}

a {
	text-decoration: none;
	outline-width: 0;
color: #258FB8;
}

article, aside, footer, header, hgroup, nav, section {
display: block;
}

header {
background: #009192;
color: white;
height: 40px;
padding: 20px 0 20px;
	 line-height: 40px;
position: relative;
	  border-bottom: 1px solid #DDD;
}

header.inner {
width: auto;
border: 0;
}

header .container {
position: relative;
width: 1000px;
margin: 0 auto;
}

header.inner {
width: auto;
border: 0;
}

header h1 {
position: absolute;
left: 20px;
top: -17px;
margin: 0;
padding: 0;
	 font-weight: 300;
	 font-size: 24px;
}

header nav > ul li {
position: relative;
}

header nav > ul > li {
	margin-right: 50px;
display: -moz-inline-stack;
display: inline-block;
	 vertical-align: middle;
zoom: 1;
}

header nav select {
display: none;
	 margin-bottom: 10px;
}

header nav {
	margin-left: 200px;
float: left;
}
header a {
color: black;
color: white;
       -webkit-transition: none;
       -moz-transition: none;
       -o-transition: none;
transition: none;
}

header .search input[type="text"]:focus, header .search input[type="text"]:active {
background: 10px center no-repeat white;
width: 150px;
       border-top: 1px solid #CCC;
color: black;
outline: none;
}

header .social a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
display: -moz-inline-stack;
display: inline-block;
	 vertical-align: middle;
zoom: 1;
      text-indent: -9999px;
      margin-right: 15px;
opacity: 1;
width: 28px;
height: 28px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
transition: 0.3s;
	    background-size: 30px 30px;
	    background-position: center center;
	    background-repeat: no-repeat;
}

header .search input[type="text"] {
background: 10px center no-repeat #F2F2F2;
color: #999;
border: 1px solid #DDD;
font: 13px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
padding: 6px 15px 6px 35px;
width: 100px;
       -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
       -o-transition: 0.3s;
transition: 0.3s;
	    -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	    -ms-border-radius: 15px;
	    -o-border-radius: 15px;
	    border-radius: 15px;
}

body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
	font-size: 14px;
color: black;
}

article {
	border-bottom: 1px solid #DDD;
	border-top: 1px solid white;
padding: 30px 0;
position: relative;
}

article h1.title a {
color: black;
}

.post h1.title, .post .entry {
	margin-left: 200px;
}

article h1.title {
	font-weight: 300;
	line-height: 35px;
	margin-bottom: 20px;
}

.post h1.title, .post .entry {
	margin-left: 200px;
}

article .entry {
	line-height: 2;
	text-align: justify;
}

.post .meta {
color: #666 a;
       color-color: inherit;
}

.post .meta {
position: absolute;
top: 85px;
     line-height: 2;
     font-size: 0.9em;
color: #666;
width: 170px;
}

.post .meta .date, .post .meta .tags, .post .meta .comments {
	padding-left: 30px;
}

#pagenavi {
padding: 20px 0;
height: 20px;
line-height: 20px;
position: relative;
border-top: 1px solid white;
border-bottom: 1px solid #DDD;
}

#pagenavi .prev, #pagenavi .next {
position: absolute;
}

#pagenavi .prev {
background: 0 center no-repeat;
padding-left: 30px;
left: 0;
}

#pagenavi .center {
text-align: center;
width: 100%;
display: block;
}

#pagenavi .next {
padding-right: 30px;
right: 0;
}

footer {
padding: 15px 0;
border-top: 1px solid white;
text-align: center;
font-size: 0.9em;
}
