<!doctype html>
<title>carpedm20</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<header class="inner">
<div class="container">
<h1><a href="/">carpedm20</a></h1>
<nav class="menu"><ul class="main">
<li><a href="/">Blog</a></li>
<li><a href="/blog/archives">Archives</a></li>
</ul>
<select><option>Menu</option><option value="/">Blog</option><option value="/blog/archives">Archives</option></select></nav>
<div class="right">
    <form class="search right" action="http://google.com/search" method="get">
        <input class="left" style="background-image:url({{ url_for('static', filename='img/search.png') }})"type="text" name="q" results="0">
        <input type="hidden" name="q" value="site:hexa.perl.sh">
    </form>
    <div class="social right">
        <a class="twitter" style="background-image:url({{ url_for('static', filename='img/twitter.png') }})" href="http://twitter.com/carpedm20" title="Twitter">Twitter</a>
        <a class="github" style="background-image:url({{ url_for('static', filename='img/github.png') }})" href="https://github.com/carpedm20" title="GitHub">GitHub</a>        
    </div>
</div>
</div>
</header>
<div id="content" class="inner">
  <div class=metanav>
  {% if not session.logged_in %}
    <!--<a href="{{ url_for('login') }}">log in</a>-->
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
<footer class="inner">
Copyright © 2013 Taehoon Kim
</footer>
