{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dt>Title:
                <dd><input type=text size=30 name=title>
                <dt>Body:
                <dd><textarea name=body rows=5 cols=70></textarea>
                <dd><input type=submit value=Share>
            </dl>
        </form>
    {% endif %}
    {% for entry in entries %}
        <article class=post>
            <h1 class="title"><a>{{ entry.title }}</a></h1>
            <div class="entry">{{ entry.body }}</div>
            <div class="meta">
                <div class="date"
                     style="background: url('{{ url_for('static', filename='img/date.png') }}') 0 center no-repeat;">
                    <time datetime={{ entry.timestamp }} pubdate="" data-updated="true">{{ entry.timestamp }}</time>
                </div>
                <div class="tags"></div>
            </div>
        </article>
    {% else %}
        <em>Unbelievable. No entries here so far</em>
    {% endfor %}
    <nav id="pagenavi">
        <a href="/" style="background: url('{{ url_for('static', filename='img/back.png') }}') 0 center no-repeat;"
           class="prev">Prev</a>
        <a href="/blog/page/2/"
           style="background: url('{{ url_for('static', filename='img/more.png') }}') right center no-repeat;"
           class="next">Next</a>
        <a href="/blog/archives" class="center">Blog Archives</a>
    </nav>
{% endblock %}
